/* style.css -- pages */

body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;

}

.image {
    text-align: center;
}

.description {
    text-align: center;
    font-size: 20px;
}
.list-div {
    text-align: center;
}

ul {
    border-top: 6px solid white;
    border-right: 6px solid white;
    display: inline-block;
    text-align: left;
    padding: 6px;
}

ol {
    border-top: 6px solid white;
    border-right: 6px solid white;
    display: inline-block;
    text-align: left;
    padding: 6px;
}