/* style.css */

body {
    background-color: antiquewhite;
    text-align: center;
} 

.main-title {
    color: black;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Lucida Sans';
    padding: 10px;
    border-bottom: 5px solid black;

}

.uldiv {
    margin-top: 30px;
    display: inline-block;
    border-top: 6px solid white;
    border-right: 6px solid white;
    padding-right: 30px;
}

.recipe-links {
    color: black;
    display: block;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans';
    padding: 5px;
    margin-bottom: 20px;
}
